@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bricolage Grotesque", sans-serif;
}

.hero-section{
    width: 100%;
    height: auto;
    padding: 2rem 8rem 2rem 8rem;
    background-color: #180c15;
    color: blue;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.hero-content-container{
    width: 100%;
    height: auto;
    display: block;
    color: bisque;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}

.hero-title{
    width: fit-content;
    height: auto;
}

.hero-title h1{
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
}

.hero-descript{
    width: 60%;
    height: auto;
}

.hero-descript p{
    line-height: 1.4rem;
    padding-top: 0.4rem;
}

.hero-btn-container{
    width: fit-content;
    height: auto;
    padding-top: 1rem;
}

a{
    text-decoration: none;
}

.hero-btn-container button{
    padding: 12px 12px;
    background-color: #371a38;
    border: 2px solid #d9416f;
    border-radius: 20px;
    color: bisque;
    outline: none;
    cursor: pointer;
}


.project-section{
    width: 100%;
    height: auto;
    padding: 4rem 8rem 4rem 8rem;
    background-color: #180c15;
    color: blue;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 1.1rem;
}

.project-caption-container{
    width: 100%;
    height: auto;
}

.project-caption-container h2{
    color: #d9416f;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

.project-card-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 2rem;
}

.card-one{
    width: 48%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.5rem;
}

.project-img-container{
    width: 100%;
    height: auto;
    padding: 8rem;
    background-image: url(../images/LIGHT\ MODE.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}

.azong{
    background-image: url(../images/Azong\ cookies\ project.jpg);
}

.duplicate-receipt-purchase{
    background-image: url(../images/Duplicate\ purchase\ receipt.png);
}

.calculation-interface{
    background-image: url(../images/Calculation\ Interface\ Design.png);
}

.project-content-card-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;

}

.project-title-descript-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.5rem;
}

.project-title{
    width: fit-content;
    height: auto;
}

.project-title h3{
    color: bisque;
    font-size: 1rem;
    font-weight: 600;
}

.project-description{
    width: fit-content;
    height: auto;
}

.project-description p{
    color: #b2b2b2b2;
    font-size: 1.1rem;
    font-weight: 200;
}

.project-field-and-link-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
    padding-bottom: 2rem;
}

.field-link-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 1rem;
}

.field-link-container button{
    color: bisque;
    background-color: #371a38;
    border: 1px solid #b2b2b2b2;
    border-radius: 20px;
    outline: none;
    padding: 1rem 1.1rem;
}

.link-container{
    width: fit-content;
    height: auto;
}

.link-container a{
    color: aqua;
    font-size: 0.8rem;
    font-weight: 200;
}

.publication-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 4rem 8rem 4rem 8rem;
    background-color: #180c15;
    color: blue;
    row-gap: 1rem;
}

.publication-header-container{
    width: fit-content;
    height: auto;
}

.publication-header-container h4{
    color: #d9416f;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

.publication-description-subheader{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

.publication-description-content{
    width: 48%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.5rem;
    border: 1px solid #b2b2b2b2;
    border-radius: 2rem;
    padding: 1.5rem;
}

.publication-description-title{
    width: fit-content;
    height: auto;
}

.publication-description-title h3{
    color: bisque;
    font-size: 1rem;
    font-weight: 600;
}

.publication-description{
    width: fit-content;
    height: auto;
}

.publication-description p{
    color: #b2b2b2b2;
    font-size: 1.1rem;
    font-weight: 200;
}

.publication-btn{
    width: fit-content;
    height: auto;
}

.publication-btn a{
    color: aquamarine;
    font-size: 0.8rem;
}

.footer-container{
    width: 100%;
    height: auto;
    padding: 4rem 8rem 5rem 8rem;
    background-color: #371a38;
    color: blue;
    display: flex;
    justify-content: space-between;
}

.footer-header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: start;
}

.header{
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.03rem;
    color: aquamarine;
}

.copy{
    width: fit-content;
    height: auto;
}

.social-footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: end;
    row-gap: 1rem;
}

.social-link{
    font-size: 1.1rem;

}

.links{
    width: fit-content;
    height: auto;
    justify-content: space-between;
}

.links i{
    color: bisque;

}

.links a{
    justify-content: space-between;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px){
    .hero-section{
        width: 100%;
        height: auto;
        padding: 2rem 4rem 2rem 4rem;
        background-color: #180c15;
        color: blue;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    .hero-descript{
        width: 80%;
        height: auto;
    }

    .project-section{
        width: 100%;
        height: auto;
        padding: 6rem 4rem 6rem 4rem;
        background-color: #180c15;
        color: blue;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        row-gap: 1.1rem;
    }

    .publication-section{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 5rem 4rem 5rem 4rem;
        background-color: #180c15;
        color: blue;
        row-gap: 1rem;
    }

    .footer-container{
        width: 100%;
        height: auto;
        padding: 6rem 4rem 6rem 4rem;
        background-color: #371a38;
        color: blue;
        display: flex;
        justify-content: space-between;
    }
}


@media screen and (max-width:768px){
    .hero-section{
        width: 100%;
        height: auto;
        padding: 2rem 1rem 2rem 1rem;
        background-color: #180c15;
        color: blue;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;

    }

    .hero-descript{
        width: 100%;
        height: auto;
    }

    .project-section{
        width: 100%;
        height: auto;
        padding: 3rem 1rem 3rem 1rem;
        background-color: #180c15;
        color: blue;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        row-gap: 1.1rem;
    }

    .card-one{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        row-gap: 0.5rem;
    }

    .publication-section{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 3rem 1rem 4rem 1rem;
        background-color: #180c15;
        color: blue;
        row-gap: 1rem;
    }

    .publication-description-content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        row-gap: 0.5rem;
        border: 1px solid #b2b2b2b2;
        border-radius: 2rem;
        padding: 1.5rem;
    }

    .publication-description-subheader{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
        row-gap: 1.1rem;
    }

    .footer-container{
        width: 100%;
        height: auto;
        padding: 2rem 1rem 2rem 1rem;
        background-color: #371a38;
        color: blue;
        display: flex;
        justify-content: space-between;
    }
}